<?xml version="1.0" encoding="utf-8" ?> 

<nstruts-config>
  
  <global-forwards>
    <forward name="main" path="/Default.aspx" redirect="true" />
  </global-forwards>
  
  <action-mappings>
  
    <action type="nstruts.actions.BasicAction,nstruts" path="/test">
	  <init-params>
		<param name="prova" value="pippo"/>
	  </init-params>	
      <forward name="choice1" path="/WebTestForm.aspx" />
      <forward name="choice2" path="/test2Action.do?forward=choice1" redirect="true"  />
    </action>
  
    <action type="nstruts.actions.BasicAction,nstruts" path="/test2">
      <forward name="choice1" path="/WebTestForm.aspx" />
    </action>
  
    <action type="nstruts.web.SimpleAction,nstrutsweb" path="/simple">
	  <init-params>
		<param name="prova" value="pippo"/>
	  </init-params>	
      <forward name="success" path="/Default.aspx" />
    </action>
  </action-mappings>

</nstruts-config>
